body{
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header{
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(90, 161, 253);
}

.logo{
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 34px;
  margin-top: 30px;
}

.sportmind{
  color: white;
}

.png-link{
  position: fixed;
  top: 45px;
  right: 45px;
  border: none;
  color: white;
  height: 25px;
  text-decoration: none;
}

.png-link:hover{
  cursor: pointer;
  opacity: 0.8;
}

.png-link:active{
  background-color: rgb(90, 161, 253);
  color: blue;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 120px;
}

.all-tips{
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 340px;
  max-width: 620px;
  padding-left: 20px;
}

.all-tips-header{
  background-color: rgb(90, 161, 253);
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.football{
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.football-header{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.football-icon{
  height: 30px;
}

.football-tips{
  display: none;
}

.basket{
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.basket-header{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basket-icon{
  height: 20px;
  margin-right: 5px;
}

.basket-tips{
  display: none;
}

.tip-header{
  background-color: rgb(85, 85, 85);
  color: white;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.league-country{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.tip{
  background-color: rgb(243, 243, 243);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.team-name{
  font-size: 13px;
}

.team{
  height: 50px;
}

.versus{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tip-button{
  border-color: rgb(90, 161, 253);
  color: rgb(90, 161, 253);
  border-style: solid;
  border-width: 1px;
}

.tip-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.tip-button:active{
  background-color: rgb(90, 161, 253);
  color: rgb(243, 243, 243);
}

.result{
  background-color: rgb(200, 200, 241);
  height: 130px;
  color: black;
  display: none;
  padding: 10px;
}

.point{
  font-weight: bold;
  margin-right: 5px;
}

.history{
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.history-header{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-icon{
  height: 24px;
  margin-right: 5px;
}

.all-dates{
  display: none;
}

.dates{
  
  color: white;
  display: flex;
  flex-direction: row;
}

.left-dates, .right-dates{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.date{
  color: white;
}

.date-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(85, 85, 85);
  height: 30px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.date:hover{
  cursor: pointer;
  color: lightblue;
  text-decoration: underline;
  opacity: 0.8;
}

.date:active{
  opacity: 0.4;
}


