body{
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header{
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(90, 161, 253);
}

.logo{
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 34px;
  margin-top: 30px;
}

.sportmind{
  color: white;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 120px;
}

.content-tips{
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 340px;
  max-width: 620px;
  padding-left: 20px;
}

.category-header{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tip-header{
  background-color: rgb(85, 85, 85);
  color: white;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.league-country{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.tip, .tip-two, .tip-three, .tip-four, .tip-five{
  background-color: rgb(243, 243, 243);
  height: 100px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.team-name{
  font-size: 13px;
}

.team{
  height: 50px;
}

.versus{
  font-size: 16px;
  margin-bottom: 15px;
}

.versus-live{
  font-size: 20px;
  margin-bottom: 22px;
  color: red;
}

.tip-button{
  border-color: rgb(90, 161, 253);
  color: rgb(90, 161, 253);
  border-style: solid;
  border-width: 1px;
}

.tip-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.tip-button:active{
  background-color: rgb(90, 161, 253);
  color: rgb(243, 243, 243);
}

.result{
  background-color: rgb(200, 200, 241);
  height: 130px;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  color: black;
}

.result-one{
  font-weight: bold;
}

.hide{
  display: none;
}

.history{
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 250px;
  position: relative;
  top: 0;
  padding: 20px;
}

.history-header{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dates{
  background-color: rgb(85, 85, 85);
  color: white;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.left-dates, .right-dates{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.date{
  color: white;
}

.date-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.date:hover{
  cursor: pointer;
  color: lightblue;
  text-decoration: underline;
  opacity: 0.8;
}

.date:active{
  opacity: 0.4;
}


